@model IEnumerable<Addon365.Models.Leads.Lead>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Upload">Upload Leads</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profile.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.Pincode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile.MobileNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                Source
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Pincode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.MobileNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>item.LeadSourceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeadId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeadId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeadId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
